body {
    font-family: Poppins, 'sans-serif';
    padding-bottom: 10px;
}

.tick line {
    stroke: #C0C0BB
}

.tick text {
    fill: #635F5D;
}

.mark {
    fill: #137B80
}

.mark-line {
    fill: #137B80;  
} 

.mark-line path {
    stroke: #137B80;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.axis-label {
    font-size: 1.6em;
     fill: #635F5D;
}