body {
    font-family: Poppins, 'sans-serif';
    padding-bottom: 10px;
}

.tick line {
    stroke: #C0C0BB
}

.tick text {
    fill: #635F5D;
    cursor: default;
    font-size: .95em;
}

.tick-histogram line {
    stroke: #C0C0BB
}

.tick-histogram text {
    fill: #635F5D;
    cursor: default;
    font-size: .60em;
}

.mark {
    fill: #137B80
}

.mark-line {
    fill: #137B80;  
} 

.mark-line path {
    stroke: #137B80;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.mark-map .land {
    fill: #d8d8d8;
}

.mark-map .interiors {
    fill: none;
    stroke: #c3c3c3;
}

.mark-map .graticules, .tick-histogram line {
    fill: none;
    stroke: #dadada;
}

.mark-map .sphere {
    fill: #ececec;
}

.mark-map circle {
    fill: #137B80;
    opacity: 0.3;
}

.axis-label {
    font-size: 1.6em;
    fill: #635F5D;
}

.axis-label-histogram {
    font-size: .90em;
    fill: #635F5D;
}