body {
    font-family: Poppins, 'sans-serif';
    padding-bottom: 10px;
}

.tick line {
    stroke: #C0C0BB
}

.tick text {
    fill: #635F5D;
}

.mark {
    fill: #137B80
}

.mark-line {
    fill: #137B80;  
} 

.mark-line path {
    stroke: #137B80;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.mark-map .land {
    fill: #00740a;
}

.mark-map .interiors {
    fill: none;
    stroke: #e2e2e2;
}

.mark-map .graticules {
    fill: none;
    stroke: #b6b6b6;
}

.mark-map .sphere {
    fill: #e0e0e0;
}

.axis-label {
    font-size: 1.6em;
    fill: #635F5D;
}